.main-nav {font-size:16px;
       line-height:30px; 
       color: black;
       font-weight: bold; 
       font-family:Roboto;
       text-decoration: none;
        }
.basket {font-size:16px;
         line-height:30px; 
         color:black;
         font-weight: bold; 
         font-family:Roboto;
         text-decoration: none;
         }
.slide-title {font-size:55px; 
               line-height:55px;
               color:black;
               font-weight: bolder;
               font-family: Roboto;
               }
.slide-text {font-size:16px;
              line-height: 24px;
              font-weight:normal;
              color:black;
              font-family: Myriad Pro;
              }
.slide-info {font-size:16px;
             line-height:18px;
             font-weight: bold;
             color:black;
             font-family: Roboto;
             text-decoration: none;
             }
.feature-title {font-size:24px;
                line-height: 30px;
                font-weight:bolder;
                color:black;
                font-family:Roboto;
             }
.feature-text {font-size:16px;
               line-height:24px;
               font-weight: normal;
               color:black;
               font-family: Roboto;}
.button  {font-size:16px;
         line-height: 18px;
         font-weight: bold;
         color:black;
         font-family:Roboto;
         text-decoration: none;
         }
.about-us-desc-text-1 {font-size:45px;
                    line-height: 45px;
                    font-weight: bold;
                    color: black;
                    font-family: Roboto;
                      }
.about-us-desc-text {font-size:16px;
                     line-height: 24px;
                     font-weight:normal;
                     color:black;
                     font-family: Roboto;
                    }
.order-list-title {font-size: 16px;
                   line-height:24px;
                   font-weight: bolder;
                   color:black;
                   font-family:Roboto;
                  }
.about-us-order-item {font-size: 16px;
                      line-height: 24px;
                      font-weight:normal;
                      color:black;
                      font-family: Roboto;
                     }
.how-we-work-title {font-size:16px;
                    line-height:24px;
                    font-weight: bolder;
                    color:black;
                    font-family: Roboto;
                   }
.how-we-work-percent {font-size: 45px;
                     line-height: 10.06px;
                     font-weight: bolder;
                     color:black;
                     font-family: Roboto;
                      }
.how-we-work-desc    {font-size:16px;
                      line-height: 18px;
                      font-weight: normal;
                      color:black;
                      font-family:Roboto;}
.contacts {font-size:16px;
           line-height: 18px;
           font-weight: normal;
           color:black;
           font-family:Roboto;
           text-decoration: none;} 
.friendship-title {font-size:36px;
                   line-height: 36px;
                   font-weight: bolder;
                   color:black;
                   font-family:Roboto;}
.freindship-sales {font-size:16px;
                   line-height: 22px;
                   font-weight: normal;
                   color:black;
                   font-family: Roboto;}
.clearfix::after 
    {content:"";
     display:table;
     clear:both;
    }
.container { width:1200px;
              padding:0px 10px;
              margin:0 auto;}
.main-navigation {
	margin: 0 auto;
	width:640px;
}

.main-navigation > ul {
	list-style: none;
}

.main-navigation > ul > li {
	float: left;
	margin-right: 48px;
	}


.user-block {   width:220px;
                float:right;
            }
.main-header {margin-bottom: 80px;}
.index-logo { width:160; height: 32px; float:left;}
.slider > .slide > .slide-title { float:left; width:390px;
 margin-bottom: 34px; display:block; }
.slider > .slide > .slide-text { display:block; float:left; width: 360px; margin-bottom: 60px; }
.slider > .slide > .slide-info { float:left; width: 242px; margin-bottom: 139px; display:block;}

                               
